<section class="section about-us">
    <div class="container">
        <ul class="js-card-container">
            <li class="about-us-li">
                <h3 class="our-name">Микола Саламаха</h3>
                <p class="our-p-work">Верстка головної секції та однієї картки. Логіка рендеру сторінки при першому
                    завантаженні</p>
                <img class="our-img" src="./images/Salamaha.jpeg" alt="Фото Миколи Саламахи">
                <p class="our-p-mail">koliunia2006@gmail.com</p>
                <p class="our-p-git">https://github.com/MukolaSa</p>
            </li>
            <li class="about-us-li">
                <h3 class="our-name">Влад Гончарук</h3>
                <p class="our-p-work">Верстка хедеру. Логіка пошуку подій по ключовому слову та по країні</p>
                <img class="our-img" src="./images/12962106.jpg.webp" alt="Фото Влада Гончарука">
                <p class="our-p-mail">vladikhoncharuk@gmail.com</p>
                <p class="our-p-git">https://github.com/Vllaaddd</p>
            </li>
            <li class="about-us-li">
                <h3 class="our-name">Потьомко Вероніка</h3>
                <p class="our-p-work">Розмітка та стилі футеру. Сторінка команди, що працювала над проєктом</p>
                <img class="our-img" src="./images/Potyomko.jpg" alt="Фото Потьомко Вероніки">
                <p class="our-p-mail">vnpotomko@gmail.com</p>
                <p class="our-p-git">https://github.com/Potyomko</p>
            </li>
            <li class="about-us-li">
                <h3 class="our-name">Хлибов Іван</h3>
                <p class="our-p-work">Логіка додавання подій до списку улюблених</p>
                <img class="our-img" src="./images/Hlibow.jpeg" alt="Фото Хлибова Івана">
                <p class="our-p-mail">hlibov2007.7@gmail.com</p>
                <p class="our-p-git">https://github.com/ivanhlibo</p>
            </li>
            <li class="about-us-li">
                <h3 class="our-name">Білішук Ілля</h3>
                <p class="our-p-work">Створення контенту модального вікна та стилів. Логіка запиту інформації про подію
                    та рендер на сторінці</p>
                <img class="our-img" src="./images/Bilishuk.jpg" alt="Фото Білішука Іллі">
                <p class="our-p-mail">nik333nik888@gmail.com</p>
                <p class="our-p-git">https://github.com/Niky-Niky</p>
            </li>
            <li class="about-us-li">
                <h3 class="our-name">Савранський Олександр</h3>
                <p class="our-p-work">Закриття модалки по кнопці/бекдропу/escape</p>
                <img class="our-img" src="./images/Sawransky.jpg" alt="Фото Олександра Савранського">
                <p class="our-p-mail">alexsawranskiy989@gmail.com</p>
                <p class="our-p-git">https://github.com/AlexSawranskiy</p>
            </li>
            <li class="about-us-li">
                <h3 class="our-name">Тарнавський Олександр</h3>
                <p class="our-p-work">Плагінація</p>
                <img class="our-img" src="./images/Tarnavsky.jpg" alt="Фото Тарнавського Олександра">
                <p class="our-p-mail">cmurtimur@gmail.com</p>
                <p class="our-p-git">https://github.com/Olexander1234</p>
            </li>
            <li class="about-us-li">
                <h3 class="our-name">Цап Олег</h3>
                <p class="our-p-work">Зміна теми</p>
                <img class="our-img" src="./images/Tsap.jpeg" alt="Фото Цапа Олега">
                <p class="our-p-mail">olehtsap07@gmail.com</p>
                <p class="our-p-git">https://github.com/HECKONCHIK</p>
            </li>
            <li class="about-us-li">
                <h3 class="our-name">Мельниченко Софія</h3>
                <p class="our-p-work">Створення репозиторію, структури проєкту, паршалів та основних стилів. Керування
                    процесом злиття гілок</p>
                <img class="our-img" src="./images/Melnychenko.jpg" alt="Фото Мельниченко Софії">
                <p class="our-p-mail">melnichenko.cofia07@gmail.com</p>
                <p class="our-p-git">https://github.com/Yorabest</p>
            </li>
        </ul>
    </div>
</section>