<section class="section about-us">
    <div class="container">
        <ul class="js-card-container">
            <li class="about-us-li">
                <h3 class="our-name">Микола Саламаха</h3>
                <p class="our-p-work">work</p>
                <img class="our-img" src="./images/Salamaha.jpeg" alt="Фото Миколи Саламахи">
                <p class="our-p-mail">koliunia2006@gmail.com</p>
                <p class="our-p-git">https://github.com/MukolaSa</p>
            </li>
            <li class="about-us-li">
                <h3 class="our-name">Влад Гончарук</h3>
                <p class="our-p-work">work</p>
                <img class="our-img" src="./images/12962106.jpg.webp" alt="Фото Влада Гончарука">
                <p class="our-p-mail">vladikhoncharuk@gmail.com</p>
                <p class="our-p-git">https://github.com/Vllaaddd</p>
            </li>
            <li class="about-us-li">
                <h3 class="our-name">Потьомко Вероніка</h3>
                <p class="our-p-work">work</p>
                <img class="our-img" src="./images/Potyomko.jpg" alt="Фото Потьомко Вероніки">
                <p class="our-p-mail">vnpotomko@gmail.com</p>
                <p class="our-p-git">https://github.com/Potyomko</p>
            </li>
            <li class="about-us-li">
                <h3 class="our-name">Хлибов Іван</h3>
                <p class="our-p-work">work</p>
                <img class="our-img" src="./images/12962106.jpg.webp" alt="Фото Хлибова Івана">
                <p class="our-p-mail">hlibov2007.7@gmail.com</p>
                <p class="our-p-git">https://github.com/ivanhlibo</p>
            </li>
            <li class="about-us-li">
                <h3 class="our-name">Білішук Ілля</h3>
                <p class="our-p-work">work</p>
                <img class="our-img" src="./images/Bilishuk.jpg" alt="Фото Білішука Іллі">
                <p class="our-p-mail">nik333nik888@gmail.com</p>
                <p class="our-p-git">https://github.com/Niky-Niky</p>
            </li>
            <li class="about-us-li">
                <h3 class="our-name">Олександр Савранський</h3>
                <p class="our-p-work">work</p>
                <img class="our-img" src="./images/12962106.jpg.webp" alt="Фото Олександра Савранського">
                <p class="our-p-mail">alexsawranskiy989@gmail.com</p>
                <p class="our-p-git">https://github.com/AlexSawranskiy</p>
            </li>
            <li class="about-us-li">
                <h3 class="our-name">Тарнавський Олександр</h3>
                <p class="our-p-work">work</p>
                <img class="our-img" src="./images/Tarnavsky.jpg" alt="Фото Тарнавського Олександра">
                <p class="our-p-mail">cmurtimur@gmail.com</p>
                <p class="our-p-git">https://github.com/Olexander1234</p>
            </li>
            <li class="about-us-li">
                <h3 class="our-name">Цап Олег</h3>
                <p class="our-p-work">work</p>
                <img class="our-img" src="./images/12962106.jpg.webp" alt="Фото Цапа Олега">
                <p class="our-p-mail">olehtsap07@gmail.com</p>
                <p class="our-p-git">https://github.com/HECKONCHIK</p>
             </li>
             <li class="about-us-li">
                <h3 class="our-name">Мельниченко Софія</h3> 
                <p class="our-p-work">work</p>
                <img class="our-img" src="./images/12962106.jpg.webp" alt="Фото Мельниченко Софії">
                <p class="our-p-mail">melnichenko.cofia07@gmail.com</p>
                <p class="our-p-git">https://github.com/Yorabest</p>
             </li>
        </ul>
    </div>
</section>