<div class="header">

    <img src='./images/logo.png' class="logo">

    <h1 class="header-main-title">find best events <br> around the world</h1>

    <ul class="item-slider">
        <label class="switch">

            <input class="js-switch" type="checkbox">

            <span class="slider round">


            </span>
        </label>
    </ul>

    <div class="inputs-container">
        <form class="search-form">
            <input type="text" class="event-input" placeholder="Start searching">
        </form>

        <select class="country-searcher">
            <option value="">Choose country</option>
            <!-- потрібно створити стільки опцій скільки хочеш та додати певний ідентифікатор -->
            <option value="Ukraine" id="DE">Germany</option>
            <option value="Ukraine" id="PL">Poland</option>
            <option value="Ukraine" id="ES">Spain</option>
            <option value="Ukraine" id="FR">France</option>
            <option value="Ukraine" id="US">USA</option>
            <option value="Ukraine" id="GB">Great Britain</option>
        </select>
    </div>

</div>