<div class="header">

    <img src='./images/logo.png' class="logo">

    <h1 class="header-main-title">find best events <br> around the world</h1>

    <button type="button" class="switch-theme"></button>

    <div class="inputs-container">
        <form class="search-form">
            <input type="text" class="event-input" placeholder="Start searching">
        </form>

        <select class="country-searcher">
            <option value="">Choose country</option>
            <option value="Ukraine">Ukraine</option>
        </select>
    </div>

</div>