
    <!-- Trigger/Open The Modal -->
<button id="myBtn" class="my-button">Open Modal</button>

<!-- The Modal -->
<div id="myModal" class="modal is-hidden" >

  <!-- Modal content -->
  <div class="modal-content ">
    <span class="close style_close">&times;</span>
    <img alt="The image of this artist" class="img">
    <div>

    
        <p class="style_header">
            INFO
        </p>
        <p class="info"></p>
    
        <p class="style_header">
            WHEN
        </p>
        <p class="when"></p>
    
        <p class="style_header">
            WHERE
        </p>
        <p class="where"></p>
    
        <p class="style_header">
            WHO
        </p>
<p class="who"></p>
    
        <p class="style_header">
            PRICES
        </p>
        <p class="price"></p>
   
    
    <button type="button" class="style_tickets-btn">BUY TICKETS</button>
    <button type="button" class="style_tickets-btn">BUY TICKETS</button>
    
  </div>
</div>
<button type="button" class="style_author-btn">MORE FROM THIS AUTHOR</button>
 <script src="./js/modal.js" type="module"></script> 

</div>
