<div class="backdrop is-hidden">
<div id="myModal" class="modal">

  <!-- Modal content -->
  <button type="button" class="close"></button>
    
    
    <img alt="The image of this artist" class="img">
    <div>    
        <p class="style_header">
            INFO
        </p>
        <p class="info text"></p>
    
        <p class="style_header">
            WHEN
        </p>
        <p class="when text"></p>
    
        <p class="style_header">
            WHERE
        </p>
        <p class="where text"></p>
    
        <p class="style_header">
            WHO
        </p>
        <p class="who text"></p>
    
        <p class="style_header">
            PRICES
        </p>
        <p class="price text"></p>
   
    
    <button type="button" class="style_tickets-btn">BUY TICKETS</button>
    <!-- <button type="button" class="style_tickets-btn">BUY TICKETS</button> -->
    
    <button type="button" class="style_author-btn">MORE FROM THIS AUTHOR</button>
</div>

<div class="product-card">
    <h2>Товар</h2>
    <button onclick="openModal()">Додати в улюблені</button>
  </div>
</div>   


</div>
<script src="./js/modal.js" type="module"></script> 