
    <!-- Trigger/Open The Modal -->
<button id="myBtn">Open Modal</button>

<!-- The Modal -->
<div id="myModal" class="modal is-hidden" >

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close style_close">&times;</span>
    <div>
        <p class="style_header">
            INFO
        </p>
    </div>
    <div>
        <p class="style_header">
            WHEN
        </p>
    </div>
    <div>
        <p class="style_header">
            WHERE
        </p>
    </div>
    <div>
        <p class="style_header">
            WHO
        </p>
    </div>
    <div>
        <p class="style_header">
            PRICES
        </p>
    </div>
    <button type="button" class="style_tickets-btn">BUY TICKETS</button>
    <button type="button" class="style_tickets-btn">BUY TICKETS</button>
    <button type="button" class="style_author-btn">MORE FROM THIS AUTHOR</button>
  </div>
  <p>yo piere
  </p>

</div>
