*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

body {
    background: linear-gradient(to top right, #CC64A2, #5C3075);
    background-image: url(/src/images/body.png);
    min-height: 100vh;
    line-height: 20px;
}

.container {
    width: 1280px;
    margin: 150px auto 0; 
}

img {
    display: block;
    height: auto;
    width: 100%;
    border-radius: 50px 0px 50px 0px;
}

h1,
h2,
h3,
ul,
p {
    margin: 0;
    padding: 0;
}

.list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
}

.item img {
    transition: .5s;
    width: 100%;
    height: auto;
}

.item {
    padding: 50px 20px;
    transform: translate(0, -50px);
    backdrop-filter: blur(20px);
    color: #fff;
    border: none;
    border-radius: 30px;
    overflow: hidden;
}

.item .content .price {
    font-size: large;
}

.item:hover img {
    transform: translate(0, -50px);
}

.title .content .add{
    background-color: #b192ef;
    color: #fff;
    width: 100%;
    border: none;
    border-radius: 30px;
}

.item:hover img {
    transform: translate(16px, -15px);
}

h2 {
    font-family: 'Montserrat';
    font-weight: 700;
    line-height: 20px;
    font-size: 16px;
    text-align: center;
    color: #DC56C5;
    margin-top: 5px;
}

.date {
    font-family: 'Montserrat';
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    margin-top: 5px;
    color: #FFFFFF;
    font-size: 16px;
}

.square {
    box-sizing: border-box;
    position: absolute;
    width: 153px;
    height: 143px;
    left: 145px;
    top: 35px;
    border: 1px solid rgba(220, 86, 197, 0.3);
    border-radius: 50px 0px;
}

.place {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;
}

.date {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
}

.title {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
    line-height: 19.5px;
    margin-top: 11px;
}

/* Адаптивність для планшетів з мінімальною шириною 768 пікселів */
@media (min-width: 768px) and (max-width: 1199px) {
    .container {
        width: 100%;
    }

    .list {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 20px;
        row-gap: 20px;
        max-width: 960px;
        margin: 0 auto;
    }

    .item {
        flex-basis: calc(50% - 10px);
    }

    .item .square {
        left: 204px;
    }
}

/* Адаптивність для ноутбуків з мінімальною шириною 1200 пікселів */
@media (min-width: 1200px) {
    .list {
        grid-template-columns: repeat(4, 1fr);
    }

    .item {
        flex-basis: 100%;
    }
}


@media (max-width: 320px) {
    .container {
        width: 100%;

    }

    .list {
        grid-template-columns: repeat(1, 1fr);
        column-gap: 20px;
        row-gap: 20px;
        max-width: 280px;
        margin: 0 auto;
    }

    .item {
        flex-basis: calc(100% - 20px);
    }

    .item .square {
        left: 124px;
    }
    .square {
        width: 153px;
        height: 135px;
        top: 35px;
    }

}