
/* Modal Content/Box */
  .modal-content {
    background-color: #FFF2FD;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 930px;
    height: 1023px; 
    position: relative;
    border-radius: 300px 0px;
    border-color:transparent;
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;

}
  .style_header{
position: relative;
left: 450px;
display: flex;
width: 63px;
height: 29px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 29px;
color: #DC56C5;
  }
  .style_tickets-btn{
    position: relative;
    left: 450px;
    justify-content: space-around;
    // display: flex;
    // flex-direction: column;
    // align-items: space-between;
    background-color: #4C00FE;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    width: 145px;
    height: 40px;
    border: none;
    border-radius: 5px;
  }

.style_author-btn{
    position: relative;
    left: 450px;
    width: 225px;
    height: 40px;
    background-color: #FFF2FD;
    border-width: 1px;
    border-color: #4C00FE;
    border-radius: 5px;
    font-size: 16px;
    color:#4C00FE;
    position: absolute;
  }