
/* Modal Content/Box */
  .img{
    width: 360px;
    height: 641px;
    border-radius: 20px;

  }

  .backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
  }



.backdrop.is-hidden {
  opacity: 0;  
  
  pointer-events: none;
}
.modal {
  display: flex;
  align-items: center;
  position: absolute;
  gap:60px;
  top: 50%;
  left: 50%;
  width: 942px;
  height: 1023px; 
  border-radius: 300px 0;
  padding: 40px;
  background-color: white;
  transform: translate(-50%, -50%) scale(1);
//   transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  
  // @media(min-width: $mobile){
  //   width: 450px;
  //   max-height: 609px;
  //   height: 100%;
  }
  
  .modal-content {
    display: flex;
    align-items:center;
  background-color: #FFF2FD;
    margin: 30px; /* 15% from the top and centered */
    padding: 20px;
  }
   

  /* The Close Button */
  .close {
    position: absolute;
    color: #4C00FE; 
    top: 0;  
    right: 0;   
    width: 1px;
    height: 1px;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

.style_header{
  color: purple;
  margin-right: 30px;
  font-size: 16px;
}

.info {
  display: flex;
  margin-bottom: 10px;
  margin-left: 30%;
}

.style_tickets-btn{
  background-color: blue;
  color: #fefefe;
  border-radius: 6px;
}

}
  .style_header{
width: 63px;
height: 29px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 29px;
color: #DC56C5;
  }
  .style_tickets-btn{
    display: block;
    background-color: #4C00FE;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    width: 145px;
    height: 40px;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
  }

.style_author-btn{
    width: 225px;
    height: 40px;
    background-color: #FFF2FD;
    border-width: 1px;
    border-color: #4C00FE;
    border-radius: 5px;
    font-size: 16px;
    color:#4C00FE;
    margin-top: 55px;
  }

  .text{
    color: #000;
    margin-bottom: 20px;
  }
