.tui-pagination{
    border-radius: none;
    
} 
 body{
    background-color: black;
 }
.tui-page-btn {
    
    border-radius: 10px 0px;
    margin-left: 15px;
   color: white;
    width: 30px;
    height: 30px;
    font-size: 16px;
    display: inline-block;
    position: relative;
    padding: 8px 0 6px;
    line-height: 1;
    text-decoration: none;
    vertical-align: middle;
}

.tui-pagination .tui-is-selected, .tui-pagination strong {

    background-color: black;
    border: 1px solid #DC56C5;
    color: #DC56C5;
}

.tui-pagination .tui-ico-first {
    width: 11px;
    height: 10px;
    background-position: 0px 0px;
}
.tui-pagination .tui-ico-first, .tui-pagination .tui-ico-prev, .tui-pagination .tui-ico-next, .tui-pagination .tui-ico-last, .tui-pagination .tui-ico-ellip {
   
    display: inline-block;
    vertical-align: middle;
    font-size: 0px;
}
.tui-pagination {
    height: 28px;
    margin: 14px 0 12px;
    line-height: normal;
    text-align: center;
    font-size: 0;
}


.tui-last-child{
    background-image: url("../js/Vector\ 230.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    vertical-align: middle;
    font-size: 0px;
    width: 30px;
    height: 30px;
}
.tui-next{
    background-image: url("../js/Vector\ 230.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    vertical-align: middle;
    font-size: 0px;
    width: 30px;
    height: 30px;  
}
.tui-prev-is-ellip{
    background-image: url("../js/Vector\ 231.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    vertical-align: middle;
    font-size: 0px;
    width: 30px;
    height: 30px;    
}
.tui-first{
    display: none;
}
.tui-next{
    display: none;
}
.tui-last{
    display: none;
}
.tui-ico-prev{
    display: no;
}
.tui-prev{
    display: none;
}