.light-theme {
background-image: linear-gradient(to right,
            rgb(255, 255, 255),
            rgb(76, 72, 72));
}

.switch-page {
    background-color: transparent !important; 
    
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input[type="checkbox"] {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border-radius: 34px;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #111;
    border-radius: 50%;
    -webkit-transition: .4s;
    transition: .4s;
}

input[type="checkbox"]:checked+.slider {
    background-color: #111;
}

input[type="checkbox"]:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    
    background-color: #fff;
}

